// Paramètres généraux
body {
  color: $dark;
  @include font("JOST_L", 16);
}
.title_2 {
  position: relative;
  @include font("AM_B", 50, center);
  &::before {
    @include borderTitle(315);
  }
}
.btn_light {
  display: block;
  font-size: 18px;
  font-weight: 600;
  color: $secondaryColor;
  @include borderSetting($borderSolidSecondary);
  @include borderRadius($radius35);
  @include containerSize(105px, $mxAuto);
  padding: 10px 15px;
  cursor: pointer;
}
