/*
orange: #f6a029;
bleu:#4a9ec0;
black: #000;
dark: #323232;
 gray;
gray light: #f6f6f6;
white: #fff
*/

*{padding:0;margin:0;box-sizing:border-box}
input {
    font-family: 'jost', sans-serif;
}
.adhesionName input,
.adhesionEmail input,
.adhesionObjet input{
    border: none;
    border-bottom: 2px solid gray;
    font-size: 18px;
    width: 270px;
    
}

.adhesionContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Jost', sans-serif;
}
.adhesionFile{
    padding: 30px 0 10px ;
    display: flex;
    /*
    placer sur la largeur 
    */
    justify-content:space-between;
    /*
    placer sur la hauteur
    */
    align-items: center;

}
.adhesionFileTitle {
    font-size: 18px;
    color: #4a9ec0;
    padding-bottom: 10px;
}
.adhesionCivil,
.adhesionCheckBox > div{
    display: flex;
    align-items: center;
    padding: 5px 0 30px;
    font-size: 14px;
}

.adhesionCivil input,
.adhesionCheckBox input{
    width: 30px !important;
}
.adhesionCivilTitle{
    font-size: 18px;
    color: gray; 
}

.adhesionName,
.adhesionEmail{
    
    display: flex;
    justify-content:space-between;
    align-items: center;
    width: 100%;
    padding: 30px; 0;
 
}

.entreprise input{
    border: none;
    border-bottom: 2px solid gray;
    width: 95%;

}

.adhesionEmail,
.adhesionObjet{
    font-size: 18px;
    color: gray; 
}
.adhesionObjet{
    display: flex;
    align-items: center;
    width: 100%;
    padding: 30px; 0;

}

form {
    display: block;
    border: 2px solid grey;
    border-radius: 4px;
    padding: 20px;
    width: 50%;
    max-width: 100%;
}



/* .adhesionContainer input:not([type="color"]) {
	width: 100%;
} */
input::placeholder {
	color: gray;
	font-size: 18px;
}
input[type="submit"] {
    margin: 20px auto;
    padding: 10px;
    width: 200px;
    
}
input, textarea, select {
	display:  block;
    color: gray;
	font-size: 18px;
    font-family: 'Jost', sans-serif;
}
label {
    margin: 15px 0 5px;
}


textarea {
    width: 95%;
    margin: 0 auto;
}
.d-inline>* {
	display: inline-block;

}

/* MAP */
#map-container {
    width: 100%;
}

